{% extends './layout.html' %}

{% block title %} Login {%endblock%}


{% block body %}
<section>
   <h1>Crear</h1>
   <form action="/crear" method="post">
    
   <div>
      {% for error in form.foto.errors %}
      <span style="color: red;">{{error}}</span>
      {% endfor %}
      {{form.foto(placeholder='Tu foto')}}
   </div>

   <div>
      {% for error in form.descripcion.errors %}
      <span style="color: red;">{{error}}</span>
      {% endfor %}
      {{form.descripcion(placeholder='Tu descripcion')}}
   </div>

   {{form.hidden_tag()}}

   <button type="submit">Enviar</button>
   </form>
</section>

{%endblock%}