{% extends './layout.html' %}

{% block title %} Editar {%endblock%}


{% block body %}
<section>
   <h1>Editar</h1>
   <form action="/edit/{{id}}" method="post">
      <div>
         {% for error in form.foto.errors %}
         <span style="color: red;">{{error}}</span>
         {% endfor %}
         {{form.foto(placeholder='Tu foto')}}
      </div>
   
      <div>
         {% for error in form.descripcion.errors %}
         <span style="color: red;">{{error}}</span>
         {% endfor %}
         {{form.descripcion(placeholder='Tu descripcion')}}
      </div>
   
      {{form.hidden_tag()}}


    <button type="submit">Editar</button>
   </form>
</section>

{%endblock%}