<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>


        <div>
            {% if current_user.id %}
            <a href="/perfil">Perfil</a>
            <a href="/crear">Crear objetos</a>
            <a href="/logout">Logout</a>
            
            {% else %}
            
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            
            {% endif %}
        </div>
    </nav>
    {% block body %}

    {%endblock%}

    <footer>
        <p>footer</p>
    </footer>
    
</body>
</html>